.section-about-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10vh 2vw 5vh 2vw;
  color: black;
  align-items: start;
  justify-content: space-between;
  text-align: left;
  h2 {
    font-size: 36px;
  }
  p {
    margin: 0px 10px;
    text-align: justify;
  }
}
.section-about-wrapper-odd {
  display: flex;
  flex-direction: column;
  background-color: #000;
  .section-about-content {
    color: white;
    padding: 10vh 2vw 5vh 2vw;
    align-items: start;
    justify-content: space-between;
    text-align: left;
    h2 {
      font-size: 36px;
    }
    p {
      margin: 0px 10px;
      text-align: justify;
    }
    .reservation-odd {
      width: 60%;
      margin: 2vh 0 0 35%;
      &:hover {
        background-color: #fff;
      }
    }
  }
  .section-about-image {
    height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
.section-about-wrapper-even {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  .section-about-content {
    padding: 10vh 2vw 5vh 2vw;
    color: black;
    align-items: start;
    justify-content: space-between;
    text-align: left;
    h2 {
      font-size: 36px;
    }
    p {
      margin: 0px 10px;
      text-align: justify;
    }
    .reservation-even {
      background-color: black;
      width: 60%;
      margin: 2vh 0 0 35%;
      &:hover {
        border: #000 solid 1px;
        background-color: white;
      }
    }
  }
  .section-about-image {
    height: 50vh;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}
@media (orientation: landscape) {
  .section-about-wrapper {
    h2 {
      font-size: 36px;
    }
  }
  .section-about-wrapper-odd {
    flex-direction: row;
    .section-about-content {
      padding: 10vh 0vw 5vh 0vw;
      width: 50%;
      p {
        width: 80%;
        margin: 0 10%;
      }
    }
    .section-about-image {
      width: 50%;
      height: auto;
    }
  }
  .section-about-wrapper-even {
    flex-direction: row;
    .section-about-content {
      padding: 10vh 0vw 5vh 0vw;
      width: 50%;
      order: 1;
      p {
        width: 80%;
        margin: 0 10%;
      }
    }
    .section-about-image {
      width: 50%;
      height: auto;
      order: 2;
    }
  }
}

@media (orientation: landscape) {
  .section-about-wrapper {
    h2 {
      font-size: 42px;
    }
    p {
      font-size: 20px;
    }
  }
  .section-about-wrapper-odd {
    .section-about-content {
      p {
        font-size: 20px;
      }
    }
  }
  .section-about-wrapper-even {
    .section-about-content {
      p {
        font-size: 20px;
      }
    }
  }
}
