.car-slider-wrapper {
  position: relative;
  height: 40vh;
}
.car-photo {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.slider-arrow {
  position: absolute;
  top: 40%;
  font-size: 40px;
  color: #fff;
  z-index: 1;
  cursor: pointer;
}
.left-arrow {
  left: 1%;
}
.right-arrow {
  right: 1%;
}
